body {



  margin: 0;


  text-align: center;
  
  background: #141313;


}

#container {

  padding: 10;
  margin: 15;

  background-color: #000000;
  border-radius: 25px;




}


h1 {
  display: flex;
  margin: 0;
  font-size: 110px;
  font-weight: normal;
  display: inline-block;
  color: white;
  justify-content:  right;
  text-align: right;
  padding: 30px;
  overflow: hidden;
  direction: rtl;
}



.box {




  position: unset;


  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 30;


  display: flex;
  flex-wrap: nowrap;
  text-align: right;
  justify-content: right;

  align-items: right;
  padding: 0;

  box-sizing: border-box;
  display: flex;
  direction: rtl;



  background: #1e1e1e;

  border-radius: 25px;

  flex-direction: row;


}

.box .thumb {

  vertical-align: middle;

}

.box .thumb img {

  display: flex;
  flex-direction: column;




  margin-left: 22;
  margin-right: 10;
  margin-top: 10;
  margin-bottom: 10;

  width: 100px;
  height: 75px;
  border-radius: 15px;


}

.box .title a {

  display: flex;
  flex-direction: column;

  word-wrap: break-word;

  text-decoration: none;
  margin-bottom: 10;
  text-align: right;
  color: white;
  font-size: xx-large;
  margin: 5;
  margin-top: 10;



}

.box .title p {

  display: flex;
  flex-direction: column;

  margin-bottom: 10;
  padding: 0;
  text-align: right;
  color: rgb(138, 138, 138);
  font-size: small;


}




.hide-me {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}


button {
  background-color: #1e1e1e;;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #1e1e1e;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
  justify-content: center;

  ;
}

button:hover {
  background-color: rgb(0, 0, 0);
}

button:active {
  background-color: #1e1e1e;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}


.loader {
  width: 100px;
  height: 100px;
  background: 0 0;
  border: 10px solid transparent;
  border-top-color: rgb(250, 250, 250);
  border-left-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: loader .750s 1000 ease forwards
}

@keyframes loader {
  100% {
    transform: rotate(360deg)
  }
}
