/* test*/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}




body {



  margin: 0;


  text-align: center;

  background: #141313;


}

#container {

  padding: 10;
  margin: 15;

  background-color: #000000;
  border-radius: 25px;




}


h1 {
  display: flex;
  margin: 0;
  font-size: 110px;
  font-weight: normal;
  display: inline-block;
  color: white;
  justify-content: right;
  text-align: right;
  padding: 30px;
  overflow: hidden;
  direction: rtl;
  margin-bottom: 200;
}



.box {



  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;


  position: unset;


  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 30;


  display: flex;
  flex-wrap: nowrap;
  text-align: right;
  justify-content: right;

  align-items: right;
  padding: 0;

  box-sizing: border-box;
  display: flex;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;

  direction: rtl;



  background: #1e1e1e;

  border-radius: 25px;

  flex-direction: row;


}

.box .thumb {

  vertical-align: middle;

}

.box .thumb img {

  display: flex;
  flex-direction: column;




  margin-left: 22;
  margin-right: 10;
  margin-top: 10;
  margin-bottom: 10;

  width: 180px;
  height: 150px;
  border-radius: 15px;


}







.hide-me {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}


button {
  background-color: #1e1e1e;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
  justify-content: center;

  ;
}

button:hover {
  background-color: rgb(0, 0, 0);
}

button:active {
  background-color: #1e1e1e;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}


.loader {
  width: 100px;
  height: 100px;
  background: 0 0;
  border: 10px solid transparent;
  border-top-color: rgb(250, 250, 250);
  border-left-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: loader .750s 1000 ease forwards;
  margin-bottom: 90;
}

@keyframes loader {
  100% {
    transform: rotate(360deg)
  }
}







.box .title a {

  display: flex;
  flex-direction: column;

  word-wrap: break-word;

  text-decoration: none;
  margin-bottom: 10;
  text-align: right;
  color: white;
  font-size: 40;
  margin: 5;
  margin-left: 10;



}



/* 44444*/


.share {

  flex-direction: row;
  display: flex;

  direction: rtl;
  margin-bottom: 10;

}


.facebook {
  flex-direction: column;
  place-self: flex-end;
}

.whatsapp {

  margin-right: 30;

  flex-direction: column;
  place-self: flex-end;

}




.box .title p {

  display: flex;
  flex-direction: column;

  text-align: right;
  color: rgb(138, 138, 138);
  font-size: 20;
  direction: initial;

}


#buttons p {

  color: white;
  font-size: 30;

}

#buttons {

  display: flex;
}

#btn1 {

  margin-left: auto;
  margin-right: 18;
  font-size: 50;
}

#btn2 {
  margin-right: auto;
  font-size: 50;

}


#corona {

  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;


  display: flex;

  padding: 10;
  margin: 15;

  background-color: #000000;
  border-radius: 25px;


}

#corona p {

  background-color: #1e1e1e;
  border-radius: 50px;
  font-size: 30;
  flex: auto;
  color: white;
  margin: inherit;
  padding: inherit;
}

#ptitle  {

  font-size: 30;
  color: white;
  margin: auto;
  margin-bottom: 10;
  background-color: #000000;
  border-radius: 25px;
  display: inline-block;
  padding: 20;


}


#ptitle2  {

  font-size: 30;
  color: white;
  margin: auto;
  margin-bottom: 10;
  background-color: #000000;
  border-radius: 25px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 15px;
}


#ptitle2  p {

  display: inline-block;


}

#counter {

  color: red;
}